*{
  font-family:'SamsungOne',Arial,Helvetica,sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f9f9f9;
  }
  
  .app-container {
    display: flex;
    padding: 20px;
  }
  
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    gap: 20px;
    height: fit-content;
  }
  
  .sidebar-item {
    background: #e0e0e0;
    padding: 10px;
    cursor: grab;
    border-radius: 4px;
  }
  